.particles-js-canvas-el {
    background: #000000b8;
}
.hero-title {color: #333}
.a-video {filter: grayscale(1); transition: .5s ease-in}
.a-video:hover {filter: grayscale(0)}
.z2 {z-index: 2;}
.t-p {background: #503178; padding: 5px 10px;}
.t-s {background: #fff; color: #000; padding: 15px 20px;}